.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px;
  justify-content: center;
}

.elements__card {
  height: 361px;
  width: 282px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.elements__card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.elements__trash {
  /* background-image: url(../images/trash.svg); */
  position: absolute;
  top: 20px;
  right: 20px;
  width: 19px;
  height: 18px;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.9));
  transition: opactity 0.3s ease;
}

.elements__trash:hover {
  cursor: pointer;
  opacity: 0.6;
}

.elements__card-image:hover {
  cursor: pointer;
}

.elements__card-footer {
  color: #000000;
  background-color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.elements__card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__card-image_left {
  object-position: 20% 0%;
}

.elements__card-footer-like {
  transition: opacity 0.3 ease;
  /* background-image: url(../images/like.svg); */
  background-repeat: no-repeat;
  width: 21px;
  height: 19px;
}
.elements__card-footer-like:hover {
  cursor: pointer;
  opacity: 0.4;
}

.elements__card-footer-like_active {
  background-image: url(../images/liked.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1300px) {
  .elements {
    width: 90%;
    margin: auto;
  }
}
