.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__span {
  color: red;
  font-size: 15px;
  font-weight: 550;
  width: 83%;
  margin-bottom: 30px;
}

.form__input {
  margin-bottom: 30px;
  width: 83%;
  padding: 9px;
  border: none;
  outline: none;
  color: black;
  border-bottom: 1.5px solid black;
}
