.header {
  width: 69%;
  margin: 45px 0 40px 0;
  border-bottom: 1px solid #545454;
  padding-bottom: 41px;
}

@media screen and (max-width: 950px) {
  .header {
    width: 100%;
    padding-left: 27px;
  }
}
